.please-login-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
 
}


.please-login-image img {
  width: 500px;    /* or any size you want */
  height: auto;
  display: block;
  margin: 0 auto;
}

.please-login-text {
  position: absolute;
  top: 50%;            /* Adjust as needed */
  left: 56.5%;           /* Adjust as needed */
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #222;
 
  padding: 12px 32px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  pointer-events: none; /* So image remains clickable if needed */
  height: 450px;
  display: flex;
  align-items: center;
}

